{{- if .Values.configMapData }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "slm-server.fullname" . }}-scripts
  labels:
    {{- include "slm-server.labels" . | nindent 4 }}
data:
  {{- range $key, $val := .Values.configMapData }}
  {{ $key }}: |
    {{- $val | nindent 4 }}
  {{- end }}
{{- end }}
