apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "slm-server.fullname" . }}
  labels:
    type: local
spec:
  storageClassName: {{ include "slm-server.fullname" . }}
  capacity:
    storage: {{ .Values.persistence.size }}
  accessModes:
    - {{ .Values.persistence.accessMode }}
  local:
    path: {{ .Values.persistence.hostPath }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ .Values.persistence.nodeName }}
